body {
    font-family: 'Source Code Pro', monospace;
}

#about_me_text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    display: grid;
    place-content: center;
    width: 70vw;
    text-align: left;
    margin: auto;
}

.text {
    color: white;
}

img {
    width: 70vw;
}

#about {
    color: #FA8072;
}