.nav_links {
    /*font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;*/
    font-family: "Source Code Pro", monospace;
    text-align: center;
}

.nav_links a {
    display:inline-block;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

.nav_links a:hover {
    color: #f92673;
}

.nav_links>a>img {
    height: 48px;
    width: 48px;
}