@import url(standard.css);

.main_body {
    display: grid;
    place-content: center;
}

#projects {
    color:var(--accent-1);
}

#sub_title {
    margin-top:100px;
    place-self: flex-start center;
    padding: 20px;
}

.project_row {
    text-align: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    place-content:flex-start center;
}

.project_row>a {
    text-decoration: none;
}

.project {
    padding:20px;
    border: 2px var(--accent-2);
    border-style: solid;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.project > h2 {
    color: var(--accent-2);
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
}

.project > img {
    height: 200px;
}

.project>p {
    color: var(--text-color);
    font-family: 'Source Sans 3', sans-serif;
}

.project:hover {
    /*background-color: rgba(256, 126, 112,.8);*/
    transform: scale(1.01);
}

.project:hover > h2{
    color: var(--accent-1);
}

.project:hover > p {
    color: var(--accent-1);
}