:root {
    --background-color: #192734;
    --text-color: white;
    --accent-1: #f92673;
    --accent-2: #03dac5;
}

body {
    background-size: cover;
    background-color: var(--background-color);
    margin: 0px;
    min-height: 90vh;
}

#title {
    color: var(--text-color);
    display: grid;
    place-content: center;
    font-weight: normal;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}

#sub_title {
    color: var(--text-color);
    display: grid;
    justify-content: center;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}