:root {
    --background-color: #FBFEFF;
    --text-color: #000000;
    --accent-1: #B84D00;
    --accent-2: #009FB8;
    --accent-3: #007C8F;
    --image-colors: invert(180);
}

body {
    background-size: cover;
    background-color: var(--background-color);
    margin: 0px;
    min-height: 90vh;
}

#title {
    color: var(--text-color);
    display: grid;
    place-content: center;
    font-weight: normal;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}

#sub_title {
    color: var(--text-color);
    display: grid;
    justify-content: center;
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}